/* ナビゲーションバーの画像リサイズ */
img.navbar-logo-img {
  height: 50px;
}
/* ナビゲーションバーのドロップダウンリスト位置調整 */
.navbar-right li.dropdown ul.dropdown-menu {
  left: 0;
  min-width: 180px;
}
/* ナビバー追従 */
nav .background {
  background:white 100%;
}
header .navbar {
  position: fixed;
  top: 0px;
  left: 0px;
}

/* タイトル背景カルーセルの横幅 */
div.container.title-cover {
  width: 100%;
  padding-top: 65px;
}
/* カルーセルスライドの幅切り替え対応 */
@media only screen and (max-width: 767px), print {
    .jumbotron.carousel-image.slide-1,
    .jumbotron.carousel-image.slide-2,
    .jumbotron.carousel-image.slide-3 {
        height: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .opacity.white-text-container .col-md-6 {
        margin-top: 5%;
    }    
}
@media only screen and (min-width: 768px), print {
    .jumbotron.carousel-image.slide-1,
    .jumbotron.carousel-image.slide-2,
    .jumbotron.carousel-image.slide-3 {
        height: 500px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .opacity.white-text-container .col-md-6 {
        margin-top: 12%;
    }
}
/* カルーセルスライドの画像指定 */
.jumbotron.carousel-image.slide-1 {
    background-image: url('./assets/images/img-home.jpg');
}
.jumbotron.carousel-image.slide-2 {
    background-image: url('./assets/images/img-home2.jpg');
}
.jumbotron.carousel-image.slide-3 {
    background-image: url('./assets/images/img-home3.jpg');
}
/* カルーセルインジケータの位置調整 */
ol.carousel-indicators {
    margin-top: 0%;
    margin-bottom: 0%;
    bottom: 0px;
}

/* ブロック要素にしてセンタリング */
.pos-center {
  display: block;
  margin: 0 auto;
}
/* ブロック間隔調整 */
.img-spacer {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* スクロール付きリストボックスのスタイル */
.box26 {
  position: relative;
  /* margin: 2em 0; */
  /* margin-left: 1.8em; */
  padding: 0.5em 1em;
  padding-right: 0em;
  border:solid  1.5px #3C6;
  border-radius: 13px;
  width: auto; 
  height: 300px;
background: #fff
}
.box26 .box-title {
  position: absolute;
  display: inline-block;
  /* top: 9px; */
  /* left: 10px; */
  top: -25px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: opacity;
  color: #3C6;
  font-weight: normal;
}
.box26 p {
  margin: 0; 
  padding: 0;
}
.box-scroll {
  overflow-y: auto;
  width: auto;
  height: 270px;
}
/* リストボックスグリッドの位置調整 */
.col-listbox {
  padding-top: 30px;
  max-width: 600px;
  margin: 0 auto;
}

.background {background:linear-gradient(90deg,#3C6 0%,#3C6 10%,white 10%,white 90%,#3C6 90%,#3C6 100%);}


.popupModal1 > input { /* ラジオボックス非表示 */
    display: none;
}
.popupModal1 > input:nth-child(1) + label { 
    cursor: pointer;
}
.modalPopup2 { /* 初期設定 ポップアップ非表示 */
    display: none;
}
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label + .modalPopup2 {/* ラジオ１ チェックでポップアップ表示 */
    display: block;
    z-index: 998;
    position: fixed;
    width: 90%;
    height: 80%;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    margin-top: 30px;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 10px 20px;
    overflow: hidden;
}
@media (min-width: 768px) {/* PCのときはページの真ん中の600x600領域 */
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label + .modalPopup2{
         width: 600px;
         height: 600px;
         padding: 30px;

    }
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label {
     left: 50% !important;
     top: 50% !important;
     margin-left: 230px !important;
     margin-top: -260px !important;
}
}

.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label + .modalPopup2 > div {/* */
    overflow:auto;
    -webkit-overflow-scrolling:touch;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label + .modalPopup2 > div > iframe {
    width: 100%;
      height:100%;
      border:none;
      display:block;
}

.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label + .modalPopup2 > div > img {/* ポップアップの中の要素 */
max-width: 100%;
}
.popupModal1 > input:nth-child(1) + label ~ label {
    display: none;/* ラジオ１ 以外のラベルを初期は非表示 */

}
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.70);
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 997;
    text-indent: -999999px;
    overflow: hidden;
}
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label {
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    position: fixed;
    left: 10px;
    bottom: 20px;
    z-index: 999;
    width: 44pt;
    height: 44pt;
    font-size: 40px;
    border-radius: 50%;
    line-height: 44pt;
    text-align: center;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.popupModal1 > input:nth-child(1) + label + input:nth-child(3):checked + label + input:nth-child(5) + label + .modalPopup2,
.popupModal1 > input:nth-child(1) + label + input:nth-child(3) + label + input:nth-child(5):checked + label + .modalPopup2 { /* ラジオ２と３ どっちかチェックでポップアップ非表示 */
    display: none;
}


.modalPopup2 {
    animation: fadeIn 1s ease 0s 1 normal;
    -webkit-animation: fadeIn 1s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

.popupModal1 .modalTitle {
     padding-bottom: .5em;
     margin: .5em 0;
     border-bottom:
     1px solid #ccc;
     font-weight: bold;
}

.popupModal1 .modalMain {
     color:#222;
     text-align: left;
     font-size: 14px;
     line-height: 1.8em;
}

/* アコーディオン */
.acd-check{
    display: none;
}
.acd-label{
    background: #3a6;
    color: #fff;
    display: block;
    margin-bottom: 15px;
    padding: 10px;
}
.acd-content{
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .5s;
    visibility: hidden;
}
.acd-check:checked + .acd-label + .acd-content{
    height: auto;
    opacity: 1;
    padding: 10px;
    visibility: visible;
}
a.no-color-change {
  color: #fff;
}


h2 {
  position: relative;
  color: #333;
  display: inline-block;
  margin: 47px 0;
  text-shadow: 0 0 2px white;
}
h2:before {
  content: "";
  position: absolute;
  background: #3c6;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -1;
}
    /* opacity: 1;
    padding: 10px;
    visibility: visible;
} */

input[name=navinput]{
  display: none;
}
.listnav01:hover,
.listnav02:hover{
  color: #999;
}
.listnav01:after,
.listnav02:after{
  content: "↓";
}
#nav01:checked ~ .title .listnav01:after,
#nav02:checked ~ .title .listnav02:after{
  content: "↑";
}
.box{
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  padding: 0 10px;
}
#nav01:checked ~ .box01,
#nav02:checked ~ .box02{
  height: auto;
  opacity: 1;
  padding: 10px;
}

/* コンテナ位置調整 */
.section-container2{padding-top: 100px;}

/* twitter-timelineを中央寄せ */
.twt_wrap {
  text-align: center;
}
.twt_wrap > iframe {
  margin: auto;
}